{:paths ["src" "resources"],
 :deps
 {org.clojure/clojure {:mvn/version "1.10.1"},
  org.clojure/tools.logging {:mvn/version "1.2.4"},
  com.stuartsierra/component {:mvn/version "1.1.0"},
  org.clojure/core.async {:mvn/version "1.5.648"},
  org.clojure/tools.cli {:mvn/version "1.0.214"},
  amazonica/amazonica {:mvn/version "0.3.162"},
  joda-time/joda-time {:mvn/version "2.12.0"},
  commons-codec/commons-codec {:mvn/version "1.15"},
  org.slf4j/jcl-over-slf4j {:mvn/version "2.0.3"},
  cheshire/cheshire {:mvn/version "5.11.0"},
  prismatic/schema {:mvn/version "1.4.1"},
  metrics-clojure/metrics-clojure {:mvn/version "2.10.0"},
  io.dropwizard.metrics/metrics-jvm {:mvn/version "4.2.12"},
  javax.xml.bind/jaxb-api {:mvn/version "2.4.0-b180830.0359"},
  com.sun.xml.bind/jaxb-core {:mvn/version "4.0.1"},
  com.sun.xml.bind/jaxb-impl {:mvn/version "4.0.1"},
  javax.activation/activation {:mvn/version "1.1.1"},
  com.github.seancorfield/next.jdbc {:mvn/version "1.2.737"},
  com.github.seancorfield/honeysql {:mvn/version "2.1.818"},
  org.postgresql/postgresql {:mvn/version "42.5.0"},
  nrepl/nrepl {:mvn/version "1.0.0"},
  refactor-nrepl/refactor-nrepl {:mvn/version "3.5.2"},
  cider/cider-nrepl {:mvn/version "0.28.5"},

  com.tradeswell/clostache {:local/root "./clostache"}}

 :aliases
 {:build {:deps       {io.github.seancorfield/build-clj
                       {:git/tag   "v0.8.2" :git/sha "0ffdb4c"
                        ;; since we're building an app uberjar, we do not
                        ;; need deps-deploy for clojars.org deployment:
                        :deps/root "slim"}}
          :ns-default build}}}
